.head {
    background: -webkit-linear-gradient(rgb(14, 153, 132),rgb(134, 72, 145));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.parent {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    height: 700px;
    padding: 20px;
}

.guessSubmit {
    width: 170px;
    height: 35px;
    font-size: 20px;
    padding: 2px;
    border-radius: 10px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(254, 64, 47), rgb(218, 177, 250) 100%);
    cursor: pointer;
    border: 2px solid gold;
}
.guessField
{
    width: 170px;
    height: 35px;
    font-size: 20px;
    padding: 2px;
    border-radius: 15px;
    border: none;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(47, 247, 254), rgb(218, 177, 250) 100%);
}
.txt
{
    background: -webkit-linear-gradient(rgb(4, 35, 175),rgba(245, 7, 7, 0.986));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
